/*Graphique*/
.axis-label {
-fx-text-fill: white;
}
.axis {
-fx-tick-label-fill: white;
}
.chart-legend-item {
-fx-text-fill: white;
}
.chart-legend {
-fx-background-color: transparent;
}
.chart {
-fx-padding: 5px;
}
.chart-title {
-fx-text-fill: white;
-fx-font-size: 1.2em;
-fx-font-weight: bold;
}
.axis-tick-mark, .axis-minor-tick-mark {
    -fx-stroke: rgba(255, 255, 255, 0.2);
}
.chart-horizontal-grid-lines, .chart-vertical-grid-lines {
    -fx-stroke: rgba(255, 255, 255, 0.2);
}

/*RadioButton*/
.radio-button {
    -fx-text-fill: white;
}
.radio-button .radio {
    -fx-background-color: #333333;
    -fx-border-color: #555555;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.radio-button:hover .radio {
    -fx-background-color: #444444;
}
.radio-button:selected .dot {
    -fx-background-color: #0078d7;
    -fx-background-insets: 0;
}

/*CheckBox*/
.check-box {
    -fx-text-fill: white;
}
.check-box:hover .box {
    -fx-background-color: #444444;
}
.check-box .box {
    -fx-background-color: #333333;
    -fx-border-color: #555555;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}
.check-box:selected .box {
    -fx-background-color: #444444;
}
.check-box:selected .mark {
    -fx-background-color: #0078d7;
}

/*Button*/
.button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-color: #666666;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #444444;
}
.button:pressed {
    -fx-background-color: #222222;
}

/* Panneau latéral et menus */
.vbox, .hbox {
    -fx-background-color: rgba(30, 30, 30, 0.85);
}

/* Le ScrollPane (Liste des planètes) */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

/* Cacher les barres de défilement moches */
.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

/*TextField*/
.text-field {
    -fx-background-color: #222222;
    -fx-text-fill: #ffffff;
    -fx-border-color: #444444;
    -fx-border-radius: 3px;
    -fx-prompt-text-fill: #666666;
}
.text-field:focused {
    -fx-border-color: #ffffff;
    -fx-background-color: #2a2a2a;
}

/*Débogage des régions*/
/*
.button, .text-field, .scroll-pane, .vbox, .hbox, .radio-button, .check-box, .stack-pane {
    -fx-border-color: #00ff00 !important;
    -fx-border-whidth: 2px;
}
*/